{% load staticfiles %}
<html>
	<head>
		<title>inaudiblemusician Posts</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/posts.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	</head>
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				<span class="username">Welcome, {{ user.get_username }}!</span>
			 	<a href="" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			 {% endif %}
			<h1><a href="/">inaudiblemusician.com</a></h1>
			<h4 >Don't Be <span style="color:#ff533d;">inaudible.</span> Be <span style="color: #ff533d;">Heard.</span></h4>

		</div>
	 	<div class="content container">
	        <div class="row">
	            <div class="col-md-12">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
    	</div>
	</body>
</html>